* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: min(100%);
}

#contact,
#home,
#about {
  height: min(90dvh);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LinkList {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.Non_active_link {
  color: black;
  text-decoration: none;
}

.Active_link {
  color: red;
}
